.headerContainer {
  margin-top: 87px;
  background-image: url("img/Braveheart-MagaZinema-1.jpg");

  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerOpa {
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 100;
}
.headerText {
  color: #ffffff; /* Color del texto */
  font-size: 3rem;
  padding: 10px;
}

/*
.headerImg {
  height: 600px;
  width: 100%;
  object-fit: cover;
  margin-top: 87px;
  opacity: 0.5;
}
*/
