.headerContainer {
  height: 0;
  position: relative;
  padding-bottom: 49.25%; /* Relación de aspecto 16:9 (9 dividido por 16 multiplicado por 100) */
}

.headerText {
  color: #ffffff; /* Color del texto */
  font-size: 3rem;
  padding: 10px;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 10%; /* Ajuste de posición un 10% más arriba */
}

.carousel-caption h3 {
  margin-bottom: 1rem; /* Espacio entre el h3 y los botones */
}

.headerButton {
  margin-top: 1rem; /* Espacio entre los botones */
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo transparente */
  color: black;
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 0.5rem 1rem; /* Espacio interno */
  font-weight: 700; /* Texto ligeramente más grueso */
}
.headerButton:last-child {
  background-color: #404040; /* Color de fondo gris oscuro */
  color: #ffffff; /* Color del texto blanco */
  opacity: 0.8; /* Efecto de transparencia */
}
.buttonContainer {
  display: flex;
  gap: 1rem; /* Espacio entre los botones */
}

@media (max-width: 600px) {
  .headerContainer {
    padding-bottom: 125%; /* Relación de aspecto 4:5 (5 dividido por 4 multiplicado por 100) */
  }
}
@media (max-width: 900px) {
  .carousel-caption h3,
  .headerButton {
    bottom: 100px; /* Ajusta el valor según tus necesidades */
    left: 150px;
  }
}

@media (min-width: 901px) and (max-width: 1199px) {
  .carousel-caption h3,
  .headerButton {
    bottom: 200px; /* Ajusta el valor según tus necesidades */
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .carousel-caption h3,
  .headerButton {
    bottom: 300px; /* Ajusta el valor según tus necesidades */
  }
}

@media (min-width: 1500px) {
  .carousel-caption h3,
  .headerButton {
    bottom: 400px; /* Ajusta el valor según tus necesidades */
  }
}
