.headerContainer {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 (9 dividido por 16 multiplicado por 100) */
}

.headerText {
  color: #ffffff; /* Color del texto */
  font-size: 3rem;
  padding: 10px;
}

.carousel-caption h3 {
  position: absolute;
  bottom: 60px;
  left: 150px;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  margin: 0;
}
@media (max-width: 600px) {
  .headerContainer {
    padding-bottom: 125%; /* Relación de aspecto 4:5 (5 dividido por 4 multiplicado por 100) */
  }
}
@media (max-width: 900px) {
  .carousel-caption h3 {
    bottom: 100px; /* Ajusta el valor según tus necesidades */
    left: 150px;
  }
}

@media (min-width: 901px) and (max-width: 1199px) {
  .carousel-caption h3 {
    bottom: 200px; /* Ajusta el valor según tus necesidades */
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .carousel-caption h3 {
    bottom: 300px; /* Ajusta el valor según tus necesidades */
  }
}

@media (min-width: 1500px) {
  .carousel-caption h3 {
    bottom: 400px; /* Ajusta el valor según tus necesidades */
  }
}
