.modalFormat {
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.modal-img {
  width: 100%;

  margin-right: 20px;
}

.modalBody {
  display: flex;
  color: aliceblue;
}

.btn-modal {
  color: white;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  text-decoration: none !important;
  border: 1px solid white;
  border-radius: 10px;
}
