.modal-format {
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.modal-img {
  width: 100%;

  margin-right: 20px;
}

.modal-year {
  font-size: 1.2rem;
  font-weight: 500;
}

.modal-body {
  display: flex;
  color: aliceblue;
}

.btn-modal {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo transparente */
  color: black;
  border: none; /* Sin borde */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 0.5rem 1rem; /* Espacio interno */
  font-weight: 700; /* Texto ligeramente más grueso */
}

.btn-modal:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Color de fondo más claro al hacer hover */
  color: black; /* Color del texto al hacer hover */
}
