.navbar {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-logo {
  height: 50px;
  object-fit: contain;
}

.navbar-links {
  text-decoration: none;
  color: white;
}
