.navbar {
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/

  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.nav-logo {
  height: 50px;
  object-fit: contain;
}

.navbar-links {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.navbar-search {
  font-size: 1.5rem;
  transition: font-size 0.2s ease;
}

.navbar-search:hover {
  font-size: 1.8rem; /* Tamaño más grande del icono al hacer hover */
}

.navbar-search:active {
  font-size: 1.8rem; /* Tamaño más grande del icono al hacer hover */
}

.navbar-about:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Color de fondo más claro al hacer hover */
  color: rgb(0, 0, 0); /* Color del texto al hacer hover */
}

.navbar-clicked {
  background-color: rgba(
    255,
    0,
    0,
    0.9
  ); /* Cambiamos el color de fondo al hacer clic */
  color: white; /* Cambiamos el color del texto al hacer clic */
}
